body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
}

body:not(.full-width) {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  height: 4px;
}

body ::-webkit-scrollbar-track {
  background-color: transparent;
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 0px;
  background: rgba(0, 0,0,.35);
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

footer .ui.container .ui.left br {
  display: none;
}

a {
  color: #0366d6;
  font-weight: 500;
}

.news a {
  color: #000;
  font-weight: 600;
}

.repo-author-repo-name a.repo-author {
  font-size: 18px;
  font-weight: 400;
  color: #0366d6;
}

.repo-author-repo-name a.repo-name {
  font-size: 18px;
  color: #0366d6;
}

.repo-author-repo-name div.divider {
  margin: 0!important;
  font-size: 18px!important;
  line-height: 26px;
  color: #586069!important;
}

.ui.right .poping.up i {
  color: #000;
}

.feeds .list ul li.private {
  background-color: unset;
}

.full.height {
  background-color: #f6f8fa;
}

.ui.labeled.button .ui.basic.button {
  padding: 6px 10px;
}

.ui.labeled.button .ui.basic.label {
  padding: 5px 10px;
}

.user.profile .ui.card .extra.content ul li {
  padding: 4px 10px;
  font-size: 14px;
  border: none;
}

.user.profile .ui.card .extra.content ul li:not(:last-child) {
  border: none;
}

.ui.repository.list .item .ui.header {
  padding-bottom: 4px;
  font-size: 18px;
}

.ui.blue.button, .ui.blue.buttons .button {
  background-color: #0366d6;
}

.ui.table td.name a {
  font-weight: 400;
}

.user.profile .ui.card {
  box-shadow: none;
  background-color: unset;
}

.ui.menu {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

.ui.tabable.menu .item, .ui.vertical.menu.navbar .item:not(.header) {
  font-weight: 600;
  color: #586069;
}

.ui.tabable.menu .item.active, .ui.vertical.menu.navbar .item.active:not(.header) {
  color: #fff;
  background-color: #0366d6;
}

.ui.tabable.menu .item:not(.active):hover, .ui.vertical.menu.navbar .item:not(.header):not(.active):hover {
  background-color: #f6f8fa;
}

.ui.vertical.menu .header.item {
 background-color: #f6f8fa;
}

.ui.fluid.basic.button.center {
  color: #0366d6!important;
  font-weight: 600;
}

.following.bar .right.menu .dropdown .menu {
  padding: 4px 0px;
  border: none;
  min-width: 180px;
}

.dropdown .menu .ui.header {
  margin-top: 6px;
  margin-bottom: 2px;
  padding: 0px 8px;
  text-transform: unset;
  font-weight: 400;
  font-size: 12px!important;
  color: #888;
}

.following.bar .right.menu .dropdown .menu .ui.header strong {
  color: #000;
  font-weight: 700;
}

.following.bar .right.menu .dropdown .menu .item {
  border-radius: 0px;
  width: 100%;
  padding: 4px 10px 4px 15px!important;
  line-height: 1.5;
}

.following.bar .right.menu .dropdown .menu .item:hover {
  color: #fff!important;
  background-color: #0366d6!important;
}

.following.bar.light {
  color: rgba(255, 255, 255, 0.75);
  background-color: #24292e;
  height: 68px;
}

.ui.secondary.menu .active.item {
  background-color: rgba(255,255,255,0.05);
}

.following.bar .top.menu a.item {
  font-weight: 600;
  color: #fff;
}

.following.bar .top.menu a.item:hover {
  color: rgba(255, 255, 255, 0.75);
}

.following.bar .text {
  color: #fff;
}

.following.bar .text:hover {
  color: rgba(255, 255, 255, 0.75);
}

body {
  min-width: unset!important;
  width: 100%;
}

.ui.top.secondary.menu {
  width: calc(100% - 10px);
}

.ui.grid {
  margin: -1rem 0;
}

.ui.grid>.column:not(.row) {
  padding-left: 0;
  padding-right: 0;
}
/*

.ui.container:not(.fluid) {
  width: unset!important;
}
*/
.ui.secondary.menu {
  margin: 0;
}

.ui.top.attached.header, .ui.attached.segment {
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin: 0;
  border: none;
  background-color: unset;
}

.ui.grid .ui.tab.list .ui.top.attached.header {
  border: none;
  background-color: unset;
}

.ui.grid .ui.tab.list .ui.attached.table.segment {
  border: none;
  background-color: unset;
}

.ui.grid .ui.tab.list .ui.attached.table.segment ul li {
  border: none;
}

.ui.grid .ui.vertical.menu.navbar {
  border: none;
  background-color: unset;
}

.ui.grid .ui.vertical.menu.navbar .header.item {
  font-weight: 600;
}

.ui.grid .ui.vertical.menu.navbar .item {
  background-color: unset;
  font-weight: 400;
  padding: 10px 8px;
}

.ui.grid .ui.vertical.menu.navbar .item.active {
  color: #000;
  font-weight: 700;
}

.ui.grid .ui.vertical.menu.navbar .item::before {
  display: none;
}

.ui.grid .ui.item.tabable.menu {
  background-color: unset;
}

.ui.grid .ui.item a.item {
  font-weight: 400;
}

.ui.grid .ui.item a.item.active {
  font-weight: 600;
}

.ui.grid .ui.form .ui.fluid.action.input input {
  border: 1px solid #d1d5da!important;
  border-radius: 3px!important;
}

.ui.grid .ui.form .ui.fluid.action.input input:focus {
  border-color: #2188ff!important;
}

.ui.grid .ui.form .ui.fluid.action.input button.ui.blue.button {
  display: none;
}

.dashboard-repo-list .news .ui.one.wide.column {
  display: none;
}

.dashboard-repo-list .news .ui.left .ui.avatar.image {
  margin-right: 1.25em;
}

.dashboard-repo-list .news .push.news .text.italic.light.grey span {
  font-size: 12px;
  font-style: normal;
}

.dashboard-repo-drawer ul.repo-owner-name-list li a span {
  color: #0366d3;
}

.dashboard-repo-drawer ul#collaborative-repo-list li a {
  text-decoration: none;
}

.dashboard-repo-drawer ul.repo-owner-name-list li a:hover span.item-name, .dashboard-repo-drawer ul#collaborative-repo-list li a:hover span.owner-and-repo {
  text-decoration: underline!important;
}

.dashboard-repo-list .news .push.news a:hover {
  color: #0366d6;
}

.ui.grid .text.light.grey, .ui.repository.list .item p.time {
  color: #586069!important;
}

.ui.container #file-content #repo-read-file, .ui.container #file-content #repo-readme {
  padding: 8px 6px;
}
.ui.container #file-content #repo-read-file i, .ui.container #file-content #repo-readme i {
  line-height: 20px;
}

.ui.container #file-content #repo-read-file .file-name, .ui.container #file-content #repo-readme .file-name {
  font-size: 12px;
  font-weight: 600;
}

.ui.container #file-content #repo-read-file .file-size, .ui.container #file-content #repo-readme .file-size {
  font-size: 12px;
}

.repository.file.list .ui.container #git-stats .item .text {
  font-weight: 400;
}

.text span.time-since.poping.up {
  font-size: 12px;
}